@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.navbar {
  display: flex;
  color: white;
  padding: 18px 24px;
  align-items: center;
  justify-content: space-around; 
}

.header {
  background-color: #1F2937;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 18px;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  min-height: 300px;
}

.big-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.awesome-container {
  flex-basis: 600px;
  margin-right: 100px;
  flex-wrap: wrap;
}

.hero-text {
  color: #E5E7EB;
  padding-bottom: 8px; 
  font-size: 18px;
}

.sign-up {
  background-color: #3882F6;
  border-radius: 5px;
  padding: 5px 25px;
  color: white;
  border: none;
}

img {
  width: 350px;
  height: auto;
  padding-top: 20px;
}

.info-head {
  text-align: center;
  padding-top: 40px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.information-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.info {
  width: 170px;
  text-align: center;
}

.box {
  width: 170px;
  height: 170px;
  border: 3px solid #3882F6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.quote-container {
  margin: 0 auto;
  background-color: #E5E7EB;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-text-container {
  width: 700px;
}

.quote-text {
  font-size: 36px; 
  font-weight: 300;
  font-style: italic;
}

.quote-name {
  text-align: end;
  font-weight: bold;
  font-size: 18px;
}

.cta-container {
  background-color: #3882F6;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  width: 900px;
  margin: 70px auto;

}

.action-container {
  display: flex;
  flex-direction: column;
  flex-basis: 500px;
}

.action {
  color: #F9FAF8;
  font-size: 24px;
}

.cta-text {
  font-size: 18px;
  color: #E5E7EB;
}

.sign-up-container {
  display: flex;
  align-items: center;
}

.cta-container .sign-up {
  border: 2px solid silver;
  color: white;
}

.footer {
  background-color: #1F2937;
  padding: 35px;
}

.copy {
  color: #E5E7EB;
  text-align: center;
}